## Import libraries (Numpy & Pandas)

In [2]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

## 문제 1. DataFrame 다루기

### a) DataFrame으로 위와 같은 자료를 만드시오. 컬럼 이름은 numbers, 로우 네임은 a~d, 값은 10~40

   | numbers |
----- | ------ 
a  | 10 
b  | 20 
c  | 30 
d  | 40

In [6]:
a=pd.DataFrame({"numbers":[10,20,30,40]}, index=['a','b','c','d'])
a

   numbers
a       10
b       20
c       30
d       40

### b) c 로우의 값을 가져오시오 ( Hint: df.loc[])

In [7]:
a.loc['c']

numbers    30
Name: c, dtype: int64

### c) a, d 로우들의 값을 가져오시오.

In [8]:
print(a.loc['a'])
print(a.loc['d'])

numbers    10
Name: a, dtype: int64
numbers    40
Name: d, dtype: int64

### d) numbers의 합을 구하시오.

In [9]:
sum=0
for i in a['numbers']:
    sum+=i
print(sum)

100

### e) numbers의 값들을 각각 제곱하시오<br>아래와 같은결과가 나와야 합니다 (hint - df[numbers] = ... )
<br>

  | numbers |
----- | ------ 
a  | 100 
b  | 400 
c  | 900 
d  | 1600

In [11]:
for i in range(len(a['numbers'])):
    a['numbers'][i]=int(a['numbers'][i])**2
a

   numbers
a      100
b      400
c      900
d     1600

### g) floats라는 이름의 칼럼을 추가하시오. 값은 1.5, 2.5, 3.5, 4.5<br>아래와 같은 결과가 나와야 합니다

<br>

| numbers | floats
----- | ------ | ------
a  | 10 | 1.5
b  | 20 | 2.5
c  | 30 | 3.5
d  | 40 | 4.5

In [12]:
for i in range(len(a['numbers'])):
    a['numbers'][i]=int(a["numbers"][i])**0.5
    
a["floats"]=[1.5,2.5,3.5,4.5]
a

   numbers  floats
a       10     1.5
b       20     2.5
c       30     3.5
d       40     4.5